@import "tailwindcss";

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #030305;
}

section {
  scroll-margin-top: 6rem;
}

.text-stroke-transparent {
  -webkit-text-stroke: 1px rgba(255,255,255,0.2);
  color: transparent;
}